{
    "plugins": [ "add-module-exports" ],
    "presets": [
        "flow",
        [
            "env",
            {
                "modules": "commonjs",
                "targets": {
                    "node": "7"
                }
            }
        ]
    ],
    "env": {
        "test": {
            "plugins": [ "istanbul" ]
        }
    }
}
