{
    "require": [ "babel-register" ],
    "sourceMap": false,
    "instrument": false,
    "check-coverage": true,
    "lines": 95,
    "functions": 95,
    "statements": 95,
    "branches": 80,
    "include": [
        "src/**/*.js"
    ],
    "watermarks": {
        "lines": [ 65, 95 ],
        "functions": [ 65, 95 ],
        "branches": [ 65, 95 ],
        "statements": [ 65, 95 ]
    },
    "cache": true,
    "all": true,
    "reporter": [
        "text",
        "html"
    ]
}
